.contact-center{
    position:static;
    margin-top:140px;

}
.contact-center img{
    height:400px;
    width:1000px;
    margin-left:180px;
}
.contact-center h1{
    position:static;
    margin-top:-300px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:5%;
    font-size:50px;
    
}
.contact-center p{
    position:static;
    margin-top:0px;
    color:white;
    font-family: sans-serif;
    margin-left:3%;
    font-size:19px;
    text-align:center;
    
}
.contact-center .contact-wrapper{
    position:absolute;  
    height:500px;
    width:1200px;
    margin-left:180px;
    background-color: rgba(183, 183, 183, 0.368);
    box-shadow:0 0 3px 3px rgb(212, 211, 211);
}
.contact-form{
    position:static;
    height:600px;
    width: 100ex;
    margin-left:180px;
    margin-top:10%;
    background-color: rgba(131, 131, 131, 0.132);
  grid-template-areas: "head head side";
}

.form-heading{
    position:static;
    margin-top:15%;
    margin-left: -560px;
}
.inner-form{
    position:static;
    margin-top:-100px;
    margin-left: 9%;
    background-color:none;
    height:450px;
    width:800px;

}
.contact-form .inner-form span{
    color:blue;
    font-size:18px;
    font-weight: 700;
}
.contact_us{
  position:static;
  width:530px;
  height:70px;
  background-color: rgba(189, 230, 230, 0.317);
  margin-top:3%;
  margin-left:7.5%;
  margin-bottom:50px;
  
}
.contact_us:hover{
  box-shadow:0 0 3px 3px rgb(212, 211, 211);
  transform:translate(0.1em,0.1em);
}
.contact_us img{
 height:6vh;
 border-radius: 50%;
 margin-left:10%;
 margin-top:20px;
 box-shadow:0 0 3px 3px rgb(212, 211, 211);
 cursor:pointer;
}
.contact_us .h5_1{
 margin-top:-45px;
 margin-left:110px;
 font-size:15px;
 color:rgb(99, 99, 99);
 cursor:pointer;
}
.contact_us .h5_2{
  margin-top:0px;
  margin-left:100px;
  font-size:15px;
  cursor:pointer;
}
.email{
  position:static;
  width:550px;
  height:70px;
  background-color: rgba(189, 230, 230, 0.317);
  margin-top:-9%;
  margin-left:50%;
  margin-bottom:50px;
  
}
.email:hover{
  box-shadow:0 0 3px 3px rgb(212, 211, 211);
  transform:translate(0.1em,0.1em);
}
.email img{
 height:6vh;
 border-radius: 50%;
 margin-left:10%;
 margin-top:20px;
 box-shadow:0 0 3px 3px rgb(212, 211, 211);
 cursor:pointer;
}
.email .h5_1{
  margin-top:-45px;
  margin-left:100px;
  font-size:15px;
  color:rgb(99, 99, 99);
  cursor:pointer;
}
.email .h5_2{
   margin-top:0px;
   margin-left:100px;
   font-size:15px;
   cursor:pointer;
}
/* .contact-form .inner-form .right-top-input{
  position: absolute;
  margin-left:350px;
  margin-top:10px;
  
}
.contact-form .inner-form .right-top-input label{
    position:relative;
    font-size: 17px;
    margin-bottom: 20px;
}
.contact-form .inner-form .right-top-input input{
    position:absolute;
    border:none;
    background-color:transparent;
    width:300px;
    height:35px;
    margin-top: 6px;;
    font-size:17px;
    border-bottom: 2px solid rgba(110, 110, 110, 0.707)
}
.contact-form .inner-form .right-bottom-input{
    position: absolute;
    margin-left:350px;
    margin-top:100px;
    
  }
  .contact-form .inner-form .right-bottom-input label{
      position:relative;
      font-size: 17px;
      padding: 0px 0px;
      margin-bottom: 60px;
  }
  .contact-form .inner-form .right-bottom-input input{
      
      border:none;
      background-color: transparent;
      width:300px;
      height:35px;
      margin-top: 6px;;
      font-size:17px;
      border-bottom: 2px solid rgba(110, 110, 110, 0.707)
  }
  .contact-form .inner-form .left-top-input{
    position: absolute;
    margin-left:0px;
    margin-top:10px;
    
  }
  .contact-form .inner-form .left-top-input label{
      position:relative;
      font-size: 17px;
      padding: 0px 0px;
      margin-bottom: 60px;
  }
  .contact-form .inner-form .left-top-input input{
      
      border:none;
      background-color: transparent;
      width:300px;
      height:35px;
      margin-top: 6px;;
      font-size:17px;
      border-bottom: 2px solid rgba(110, 110, 110, 0.707)
  }
  .contact-form .inner-form .left-bottom-input{
    position: absolute;
    margin-left:0px;
    margin-top:100px;
    
  }
  .contact-form .inner-form .left-bottom-input label{
      position:relative;
      font-size: 17px;
      padding: 0px 0px;
      margin-bottom: 60px;
  }
  .contact-form .inner-form .left-bottom-input input{
      
      border:none;
      background-color: transparent;
      width:300px;
      height:35px;
      margin-top: 6px;;
      font-size:17px;
      border-bottom: 2px solid rgba(110, 110, 110, 0.707);
  }
  .contact-form .inner-form .messege{
    position: absolute;
    margin-top:200px;
  }
  .contact-form .inner-form .messege label{
    position:relative;
    font-size: 17px;

  }
  .contact-form .inner-form .messege textarea{
    background-color: transparent;
    border:2px solid rgba(110, 110, 110, 0.707);
    margin-top:30px
  } */
  /* .contact-form .inner-form button{
    margin-top:400px;
    margin-left: 0%;
    padding: 10px 50px;
    font-size: 17px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: rgb(0, 0, 255);
    color:white;
    border: none;
  }
  .contact-form .inner-form button:hover{
    background-color: rgba(255, 255, 255, 0.68);
    cursor:pointer;
    color:blue;
    border:2px solid blue;
    transition: .1s step-end;
  } */





